<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom/dist/chartjs-plugin-zoom.min.js"></script>
	<title>Vineyard Data</title>
	<style>
		/* Ensure the canvas container is responsive */
		#chart-container {
			height: 100%;
			width: 100%;
			position: relative;
		}
		canvas {
			display: block;
			width: 100%;
			height: 100%;
		}
	</style>
</head>

<body>
	<div id="chart-container">
		<canvas id="myChart"></canvas>
	</div>

	<script>
		const labels = {{ labels | tojson }};
		const data = {{ data | tojson }};

		const chartData = {
			labels: labels,
			datasets: [{
				label: 'Relative humidity',
				backgroundColor: 'rgb(255, 99, 132)',
				borderColor: 'rgb(255, 99, 132)',
				data: data,
			}]
		};

		const minDataValue = Math.min(...data);
		const maxDataValue = Math.max(...data);

		const config = {
			type: 'line',
			data: chartData,
			options: {
				responsive: true,
				maintainAspectRatio: false,
				scales: {
					x: {
						title: {
							display: true,
							text: 'Time'
						}
					},
					y: {
						title: {
							display: true,
							text: 'Value'
						},
						// Dynamische Festlegung der Skalierung der y-Achse
						min: minDataValue - 10, // Mindestwert minus 10 (optional)
						max: maxDataValue + 10, // Maximalwert plus 10 (optional)
						ticks: {
							stepSize: 10 // Schrittgröße
						}
					}
				},
				plugins: {
					zoom: {
						pan: {
							enabled: true,
							mode: 'x'
						},
						zoom: {
							enabled: true,
							mode: 'x',
							drag: {
								enabled: true,
								modifierKey: 'ctrl' // Optional: nur pan bei gedrückter Strg-Taste
							},
							wheel: {
								enabled: true
							},
							pinch: {
								enabled: true
							}
						}
					}
				}
			}
		};

		const myChart = new Chart(
			document.getElementById('myChart'),
			config
		);
	</script>
</body>
</html>